<!doctype html>
<html>
<head>
    <style>
    body
    { background-color:azure;
      color:green;
    }
    </style>
</head>
<body>
    @Html.Partial("_Header")
   @Html.Partial("_Links")
    <div style="background-color:antiquewhite">
        @RenderBody()
    </div>
   @Html.Partial("_Footer")
</body>
</html>
